<h1>Upload Resume</h1>

<p>Welcome back, <%= current_user.email %>!</p>

<% if @saved_titles %>
  <h2>Previous Uploads</h2>
  <% @saved_titles.each do |title| %>
    <%= title %>
  <% end %>
<% end %>

<%= form_with scope: :profile, url: resumes_path, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :text %><br>
    <%= form.file_field :resume %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>